@model RecordDetailViewModel

<div class="container p-3 mt-5">
    <div style="background-color:#152424">
        <div class="text-white fw-bold fs-4 p-3">
            Son Eklenen Kayıt - @Model.date.ToLongDateString()
            <ul class="list-group p-3 mb-3">
                @foreach (var kelime in Model.Words)
                {
                    <li class="list-group-item active mt-3 border-0" style="background-color:#901aff" aria-current="true">@kelime.Name</li>
                    @foreach (var tanim in kelime.Definitions)
                    {
                        <li class="list-group-item d-inline-flex" style="background-color:antiquewhite">
                            <div class="col-2">@tanim.definitionType</div>
                            @tanim.definition
                        </li>
                    }
                }
            </ul>
            <div class="row text-center">
                <div class="offset-3 col-3">
                    <a role="button" id="liveToastBtn" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnAction="Homepage" class="btn btn-outline-danger px-4">SİL</a>
                </div>
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <img src="..." class="rounded me-2" alt="...">
                            <strong class="me-auto">Bootstrap</strong>
                            <small>11 mins ago</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            Hello, world! This is a toast message.
                        </div>
                    </div>
                </div>
                <div class="offset-1  col-1">
                    <button class="btn btn-outline-success">GÜNCELLE</button>
                </div>
            </div>
        </div>
    </div>
</div>