@model RecordDetailViewModel

<div id="lastItemComponentContainer" class="container p-3 mt-5 mb-3">
    <div class="text-white fw-bold fs-4 p-3">
            Son Eklenen Kayıt - @Model.date.ToLongDateString()
            <ul class="list-group p-3 mb-3">
                @foreach (var kelime in Model.Words)
                {
                <li class="list-group-item active mt-3 border-0 bg-gradient shadow-lg" style="background-color:#620277" aria-current="true">@kelime.Name</li>
                    @foreach (var tanim in kelime.Definitions)
                    {
                        <li class="list-group-item d-inline-flex bg-gradient shadow-lg" style="background-color:gray">
                            <div class="col-2">@tanim.definitionType</div>
                            @tanim.definition
                        </li>
                    }
                }
            </ul>
            <div class="row text-center">
                <div class="col-sm-12 col-md-6">
                    <a role="button" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnAction="Homepage" class="btn btn-lg btn-outline-danger px-5 shadow-lg">SİL</a>
                </div>
            <div class="col-sm-12 col-md-6">
                    <button class="btn btn-lg btn-outline-success">GÜNCELLE</button>
                </div>
            </div>
        </div>
</div>