@model RecordListViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
<div class="container p-3 mt-5">
    <div class="bg-dark">
        @foreach (var Record in Model.Records)
        {
            <div class="text-white fw-bold fs-4 p-3 border-bottom border-secondary">
                @Record.date.ToShortDateString()
                <ul class="list-group p-3 mb-3">
                    @foreach (var Word in Record.Words)
                    {
                        <li class="list-group-item active mt-3" aria-current="true" style="background-color:#8F00FF; border-color:#8F00FF">@Word.Name</li>
                        @foreach (Definition definition in Word.Definitions)
                        {

                            <li class="list-group-item d-inline-flex" style="background-color:antiquewhite">
                                <div class="col-2">
                                    @if (Word.Definitions.Count > 1)
                                    {
                                        @(Word.Definitions.ToList().IndexOf(definition) + 1)<span>.</span>
                                    }
                                    @definition.definitionType
                                </div>
                                @definition.definition
                            </li>
                        }
                    
                    }
                        
                </ul>
                <div class="text-center">
                    <a asp-action="RecordDetail" asp-route-id="@Record.Id" class="btn btn-lg btn-outline-warning px-4">Detay</a>
                </div>
            </div>
        }

        <div class="text-center">
            <div page-model="@Model.PagingInfo" page-action="AllRecord" is-page-classes-enabled=true
                 page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-outline-light" class="btn-group-lg mt-1" ></div>
        </div>
    </div>
</div>


