@model RecordListViewModel
<partial name="_NavbarPartial" model="@Context.Request.Path" />
<div class="container p-3 mt-5" >
    <div class="row shadow-lg" style="background-color:#191b1c">
        @foreach (var Record in Model.Records)
        {
            <div class="text-white fw-bold fs-4 recordArea mt-5" data-aos="zoom-in-up">
                @Record.date.ToShortDateString()
                <ul class="list-group p-3 mb-3">
                    @foreach (var Word in Record.Words)
                    {
                        <li class="list-group-item mt-3 bg-gradient shadow-lg listWord" aria-current="true">@Word.Name</li>
                        @foreach (Definition definition in Word.Definitions)
                        {

                            <li class="list-group-item d-inline-flex bg-gradient listDef">
                                <div class="col-5 col-md-3">
                                    @if (Word.Definitions.Count > 1)
                                    {
                                        @(Word.Definitions.ToList().IndexOf(definition) + 1)<span>.</span>
                                    }
                                    @definition.definitionType
                                </div>
                                @definition.definition
                            </li>
                        }
                    
                    }  
                </ul>
                <div class="text-center">
                    <a asp-action="RecordDetail" asp-route-id="@Record.Id" class="btn btn-lg btn-outline-warning px-4 mb-4">Detay</a>
                </div>
            </div>
        }

        <div class="text-center">
            <div page-model="@Model.PagingInfo" page-action="AllRecord" is-page-classes-enabled=true
                 page-class="btn" page-class-normal="btn-outline-secondary text-white" page-class-selected="text-white" class="btn-group-lg my-3"></div>
        </div>
    </div>
</div>


