@model RecordDetailViewModel
<partial name="_NavbarPartial" model="Context.Request.Path" />
<div class="container p-3 mt-3">
    <div class="recordArea">
        <div class="text-white fw-bold fs-4 p-3">
            @Model.date.ToLongDateString()
            <ul class="list-group p-3 mb-3">
                @foreach (var kelime in Model.Words)
                {
                    <li class="list-group-item listWord mt-3 bg-gradient shadow-lg" aria-current="true">
                        @kelime.Name
                        <a role="button" asp-action="Update" asp-route-id="@kelime.Id" class="btn btn-outline-warning px-2 px-sm-5 float-end">GÜNCELLE</a>
                     </li>
                    @foreach (var tanim in kelime.Definitions)
                    {
                        <li class="list-group-item d-inline-flex listDef bg-gradient shadow-lg ">
                            <div class="col-5 col-md-3">@tanim.definitionType</div>
                            <span class="col-3 col-md">@tanim.definition</span>
                        </li>
                    }
                }
            </ul>
            <div class="row text-center">
                <div>
                    @*DELETES CURRENT RECORD AND REDIRECTS TO HOMEPAGE*@
                    <a role="button" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnAction="Homepage" class="btn btn-lg btn-outline-danger px-5">SİL</a>
                </div>
            </div>
        </div>
    </div>
</div>